.container-with-top-margin {
    margin-top: 10px;
}

. custom{
    margin-bottom: 40px !important;
    margin-top: 40px !important;
}

.btn-my-own {
    color: black;
    background-color: chartreuse !important;
    border-color: blue;
}

.mt-0 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}