<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navigation">
    <div class="links">
        <a class="btn btn-primary" href="/home" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg> Home</a>
        <a class="btn btn-primary" href="/register" role="button">Registration</a>
        <a class="btn btn-primary" href="/participants" role="button">Participants</a>
        <a class="btn btn-primary" href="/results" role="button">Results</a>
        <a class="btn btn-primary" href="/login" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
            <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
            <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
        </svg> Login</a>
    </div>
</nav>


<div class="container ">
    <div class="mb-3"></div>
    <!--вставка картинки на страницу-->
    <img th:src="@{/img/header.jpg}" width="400">
    <h1>Welcome to agility competition</h1>
    <h4>Please, fill in registration form</h4>
    <form name="addParticipant" id="addParticipant" method="post" action="/register">
        <div class="mb-3">
            <label for="hName" class="form-label">Handler name:</label>
            <input  required type="text" name="hName" id="hName" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="hSurname" class="form-label">Handler surname:</label>
            <input required type="text" name="hSurname" id="hSurname" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="dogFullName" class="form-label">Dog pedigree name:</label>
            <input required type="text" name="dogFullName" id="dogFullName" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="dogPetName" class="form-label">Dog pet name:</label>
            <input required type="text" name="dogPetName" id="dogPetName" maxlength="100">
        </div>

        <div class="mb-3">
            <!--        Элемент select позволяет выбрать один из элементов из списка-->
            <label for="dogBreed">Dog breed</label>
            <select name="dogBreed" id="dogBreed">
                <option value="border-collie">Border-collie</option>
                <option value="mixbreed">Mixbreed</option>
                <option value="papillon">Papillon</option>
                <option value="shetland sheepdog">Shetland sheepdog</option>
                <option value="whippet">Whippet</option>

            </select>
        </div>

        <div class="mb-3">
            <label for="dogDateOfBirth" class="form-label">Dog date of birth:</label>
            <input type="date" name="dogDateOfBirth" id="dogDateOfBirth" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="microchip" class="form-label">Microchip number:</label>
            <input required type="text" name="microchip" id="microchip" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="size">Height categories</label>
            <select name="size" id="size">
                <option value="L">Large</option>
                <option value="M">Medium</option>
                <option value="S">Small</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="level">Class level</label>
            <select name="level" id="level">
                <option value="A0">A0</option>
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="A3">A3</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Register</button>
             <a class="btn btn-primary" href="/participants" role="button">List of participants</a>
        </div>
        <div class="mb-3"></div>
    </form>
</div>
</body>
</html>