<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<nav class="navigation">
    <div class="links">
        <a class="link" href="/home">Home</a>
        <a class="link" href="/results">Registration</a>
        <a class="link" href="/participants">Participants</a>
        <a class="link" href="/results">Results</a>
        <a class="link" href="/login">Login</a>
    </div>
</nav>

<div class="container ">
    <div class="mb-3"></div>
    <!--вставка картинки на страницу-->
    <img th:src="@{/img/header.jpg}" width="400">
    <h1>Welcome to agility competition</h1>
    <h4>Please, fill in registration form</h4>
    <form name="addParticipant" id="addParticipant" method="post" action="/register">
        <div class="mb-3">
            <label for="hName" class="form-label">Handler name:</label>
            <input  required type="text" name="hName" id="hName" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="hSurname" class="form-label">Handler surname:</label>
            <input required type="text" name="hSurname" id="hSurname" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="dogFullName" class="form-label">Dog pedigree name:</label>
            <input required type="text" name="dogFullName" id="dogFullName" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="dogPetName" class="form-label">Dog pet name:</label>
            <input required type="text" name="dogPetName" id="dogPetName" maxlength="100">
        </div>

        <div class="mb-3">
            <!--        Элемент select позволяет выбрать один из элементов из списка-->
            <label for="dogBreed">Dog breed</label>
            <select name="dogBreed" id="dogBreed">
                <option value="border-collie">Border-collie</option>
                <option value="mixbreed">Mixbreed</option>
                <option value="papillon">Papillon</option>
                <option value="shetland sheepdog">Shetland sheepdog</option>
                <option value="whippet">Whippet</option>

            </select>
        </div>

        <div class="mb-3">
            <label for="dogDateOfBirth" class="form-label">Dog date of birth:</label>
            <input type="date" name="dogDateOfBirth" id="dogDateOfBirth" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="microchip" class="form-label">Microchip number:</label>
            <input required type="text" name="microchip" id="microchip" maxlength="100">
        </div>

        <div class="mb-3">
            <label for="size">Height categories</label>
            <select name="size" id="size">
                <option value="L">Large</option>
                <option value="M">Medium</option>
                <option value="S">Small</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="level">Class level</label>
            <select name="level" id="level">
                <option value="A0">A0</option>
                <option value="A1">A1</option>
                <option value="A2">A2</option>
                <option value="A3">A3</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-primary">Register</button>
             <a class="btn btn-primary" href="/participants" role="button">List of participants</a>
        </div>
        <div class="mb-3"></div>
    </form>
</div>
</body>
</html>